@import '../../../styles/imports';

footer {
    margin-top: $main-large-padding;
    background: $theme-sec-color;
    color: $theme-sec-var-color;
    p {
        padding: $main-small-padding;
        text-align: center;
    }

}