@import '../../../../styles/imports';

:host {
    display: block;
}

section {
    margin-top: $main-large-padding;  

    div::after {
        content: '';
        clear: both;
        display: block;
    }
}