<div>
    <header>
      <div fitMainWrapper>
          <div class="info-wrapper">
            <h1 class="sub-title">ngx-floating-img</h1>
            <p>Mobile look and feel image viewer for Angular 6+</p>
          </div>
          <div class="installation-wrapper">
            <h2 class="sub-title">installation</h2>
            <ul>
              <li>
                <p>Add ngxfloatingimg to your Angular project</p>
                <code>npm install --save ngx-floating-img</code>
              </li>
              <li>
                <p>Once installed import NgxFloatingImgModule in your app.module.ts</p>
                <pre><code>NgxFloatingImgModule.forRoot()</code></pre>
              </li>
              <li>
                <p>Add ngx-floating-img in your template file</p>
                <code>&lt;ngx-floating-img&gt;&lt;/ngx-floating-img&gt;</code>
              </li>
            </ul>
          </div>
      </div>
  </header>
  <div id="home-main-container" fitMainWrapper>
    <fit-section id="demo-section" title="demo">
      
      <div class="img-wrapper">
        <div>
          <ngx-floating-img [imgWidth]="1280" [imgHeight]="1920" [imgSrc]="'../../../assets/examples/originals/img_11.jpeg'">
            <img src="../../../assets/examples/thumbs/img_11.jpeg" />
          </ngx-floating-img>
        </div>
        <div>
          <ngx-floating-img [imgWidth]="1920" [imgHeight]="1280" [imgSrc]="'../../../assets/examples/originals/img_13.jpeg'">
            <img src="../../../assets/examples/thumbs/img_13.jpeg" />
          </ngx-floating-img>
        </div>
      </div>
      
      <div class="img-wrapper">
        <div>
          <ngx-floating-img [imgWidth]="1920" [imgHeight]="1280" [imgSrc]="'../../../assets/examples/originals/img_8.jpeg'">
            <img src="../../../assets/examples/thumbs/img_8.jpeg" />
          </ngx-floating-img>
        </div> 
        <div>
          <ngx-floating-img [imgWidth]="1280" [imgHeight]="1920" [imgSrc]="'../../../assets/examples/originals/img_24.jpeg'">
            <img src="../../../assets/examples/thumbs/img_24.jpeg" />
          </ngx-floating-img>
        </div>
      </div>
      
      <div class="img-wrapper">
        <div>
            <ngx-floating-img [imgWidth]="1280" [imgHeight]="1920" [imgSrc]="'../../../assets/examples/originals/img_5.jpeg'">
              <img src="../../../assets/examples/thumbs/img_5.jpeg" />
            </ngx-floating-img>
        </div> 
        <div>
          <ngx-floating-img [imgWidth]="1920" [imgHeight]="1280" [imgSrc]="'../../../assets/examples/originals/img_2.jpeg'">
            <img src="../../../assets/examples/thumbs/img_2.jpeg" />
          </ngx-floating-img>
        </div> 
      </div>
      
      <div class="img-wrapper">
        <div>
          <ngx-floating-img [imgWidth]="1920" [imgHeight]="1280" [imgSrc]="'../../../assets/examples/originals/img_3.jpeg'">
            <img src="../../../assets/examples/thumbs/img_3.jpeg" />
          </ngx-floating-img>
        </div> 
        <div>
          <ngx-floating-img [imgWidth]="1280" [imgHeight]="1920" [imgSrc]="'../../../assets/examples/originals/img_19.jpeg'">
            <img src="../../../assets/examples/thumbs/img_19.jpeg" />
          </ngx-floating-img>
        </div>
      </div>
      
      <div class="img-wrapper">
        <div>
          <ngx-floating-img [imgWidth]="1280" [imgHeight]="1920" [imgSrc]="'../../../assets/examples/originals/img_20.jpeg'">
            <img src="../../../assets/examples/thumbs/img_20.jpeg" />
          </ngx-floating-img>
        </div> 
        <div>
          <ngx-floating-img [imgWidth]="1920" [imgHeight]="1280" [imgSrc]="'../../../assets/examples/originals/img_1.jpg'">
            <img src="../../../assets/examples/thumbs/img_1.jpg" />
          </ngx-floating-img>
        </div>
      </div>

      <div class="more-info-wrapper">
        <p>This example shows multiple options can be applied to ngx-floating-img component, <a routerLink="/examples">see all examples</a>
        </p>        
      </div>
    </fit-section>

    <fit-section title="compatibility">
      <p>Tested on Chrome, Firefox, Safari, IE10+, Edge</p>
    </fit-section>

    <fit-section title="bugs">
      <p>You can report any bugs as Github issues</p>
    </fit-section>

    <fit-section title="license">
      <p>The project is licensed under the MIT license.</p>
    </fit-section>

</div>