@import '../../../styles//imports';

header {
    background: $theme-sec-color;
    & > div {
        overflow: hidden;
        padding: $main-padding 0;
        > div {
            float: left;
            height: 100%;
        }
    
        .info-wrapper {
            width: 40%;
            padding-right: $main-padding;
            h1 {
                color: #fff;
                border-bottom: none;
                padding-top: $main-padding;
            }
            p {
                font-size: rem(16);
                color: $theme-sec-var-color;
            }
        }
    
        .installation-wrapper {
            width: 60%;
            padding: $main-padding;
            background: rgba(#000, 0.2);
            color: $theme-sec-var-color;
            @include border-radius($main-radius);

            .sub-title {
                color: #fff;
                border-color: $theme-sec-color;
            }

            ul li:not(:first-child) {
                padding-top: $main-padding;
            }            
        }
    }
}

#home-main-container {
    #demo-section {
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        &::ng-deep {
            .sec-wrapper {
                margin-right: -#{$main-small-padding};
            }
        }
        
        .img-wrapper {
            padding-right: $main-small-padding;
            width: 16.6666%;
            float: left;

            & > div:not(:first-child) {
                padding-top: $main-small-padding;
            }
        }

        .more-info-wrapper {
            clear: both;
            padding-top: $main-padding;

            a {
                color: #42A5F5;
            }
        }
    }
}

