@import '../../../styles/imports';

header {
    background: $theme-sec-color;
    & > div {
        overflow: hidden;
        padding: $main-padding 0;
        > div {
            float: left;
            height: 100%;
        }
    
        .info-wrapper {
            width: 40%;
            padding-right: $main-padding;
            h1 {
                color: #fff;
                border-bottom: none;
                padding-top: $main-padding;
            }
            p {
                font-size: rem(16);
                color: $theme-sec-var-color;
            }

            .info-badges-wrapper {
                a {
                    display: inline-block;
                    margin: $main-padding $main-padding 0 0;
                }
            }
        }
    
        .installation-wrapper {
            width: 60%;
            padding: $main-padding;
            background: rgba(#000, 0.2);
            color: $theme-sec-var-color;
            @include border-radius($main-radius);

            .sub-title {
                color: #fff;
                border-color: $theme-sec-color;
            }

            ul li:not(:first-child) {
                padding-top: $main-padding;
            }            
        }
    }
}

#home-main-container {
    #demo-section {
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        &::ng-deep {
            .sec-wrapper {
                margin-right: -#{$main-small-padding};
            }

            .sub-title {
                margin-bottom: 0px;
            }
        }
        
        .img-wrapper {
            line-height: 0px;
            padding: $main-small-padding $main-small-padding 0 0;
            width: 20%;
            float: left;

            & > div:not(:first-child) {
                padding-top: $main-small-padding;
            }
        }

        .more-info-wrapper {
            clear: both;
            padding-top: $main-padding;

            a {
                color: #2e83c7;
            }           
        }
    }

    #bugs-section {
        a {
            color:#2e83c7;
        }
    }
}

@mixin header-respo {
    header {
        & > div {
            > div {
                float: none;
                width: 100% !important;
            }
            .info-wrapper {
                padding: 0 0 $main-large-padding 0;
            }
        }
    }
}

@include small-desktop-vp {
    #home-main-container {
        #demo-section {
            .img-wrapper {
                &:first-child {
                    display: none;
                }
                width: 25%;
            }
        }        
    }
}


@include tablet-vp {
    @include header-respo;
    #home-main-container {
        #demo-section {
            .img-wrapper {
                &:nth-child(-n + 2) {
                    display: none;
                }
                width: 33.3333%;
            }
        }        
    }
}
@include mobile-vp {
    @include header-respo;
    #home-main-container {
        #demo-section {
            .img-wrapper {
                &:first-child {
                    display: none;
                }
                width: 50%;
            }
        }        
    }
}