<div style="width: 500px;margin-left: 200px;">
    <h1>TEST 1</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <hr>
    <fi-ngx-floating-img [imgWidth]="1164" [imgHeight]="545" [vpPadding]="10" [thumbBgColor]="testColor">
        <img src="./assets/thumbs/audi_small.jpg">
    </fi-ngx-floating-img>
    <hr>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <h1>TEST 2</h1>
    <button>fwef</button>

</div>
