@import 'functions';

$browser-context: 14;

$theme-prim-color: #ffde03;
$theme-prim-var-color: #0097A7;
$theme-sec-color: #282725;
$theme-sec-var-color: #707070;
$theme-main-border-color: #ddd;
$theme-main-font-color: #282725;
$theme-sec-font-color: #707070;

$main-small-padding: rem(10);
$main-padding: rem(20);
$main-large-padding: rem(40);
$main-radius: rem(4);

$max-main-wrapper-width: 1200px;
$min-main-wrapper-width: 320px;

$header-height: 58px;
$header-border-height: 5px;

$mobile-viewport-breakpoint: 600px;
$tablet-viewport-breakpoint: 768px;
$small-desktop-viewport-breakpoint: 980px;
