@import '../../../styles/imports';

$header-sections-margin: rem(50);
$header-nav-tab-border: rem(3);

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background: $theme-prim-color;
    border-bottom: $header-border-height solid $theme-sec-color;
    
    .header-container {
        overflow: hidden;
        & > div {
            display: inline-block;
            &:not(:first-child) {
                margin-left: $header-sections-margin;
            }
        }

        #main-logo-container a {
            color: $theme-sec-color;
            font-size: rem(20);
            display: block;
        }
    
        #main-nav-bar-container {
            ul li {
                position: relative;
                display: inline-block;
                &.active {
                    a {
                        color: $theme-prim-color;
                    }
                    span {
                        top: 0px;
                    }
                }
                a {
                    font-size: rem(16);
                    color: $theme-sec-color;
                    position: relative;
                    display: block;
                    text-transform: capitalize;
                    padding: $main-padding;
                    z-index: 1;
                    @include transition(color 0.1s linear);
                }
                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    background: $theme-sec-color;
                    top: $header-height;
                    @include transition(top 0.1s linear);
    
                }
            }
        }

    }

}