<header>
    <div class="header-container" fitMainWrapper>
      <div id="main-logo-container"><a routerLink="/home">ngx-floating-img</a></div>
      <div id="main-nav-bar-container">
        <nav>
          <ul>
            <li routerLinkActive="active"><a routerLink="/home">home</a><span></span></li>
            <li routerLinkActive="active"><a routerLink="/examples">examples</a><span></span></li>
            <li routerLinkActive="active"><a routerLink="/api">API</a><span></span></li>
          </ul>
        </nav>
      </div>
    </div>
</header>