@import '../../../styles/imports';

$header-sections-margin: rem(50);

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background: $theme-prim-color;
    border-bottom: $header-border-height solid $theme-sec-color;
    
    .header-container {
        height: $header-height;
        position: relative;
        overflow: hidden;
        background: transparent;
        & > div {
            display: inline-block;
            &:not(:first-child) {
                margin-left: $header-sections-margin;
            }
        }

        &.mobile-menu-visible {
            #menu-button {
                svg {
                    display: none;
                }
                span {
                    display: initial;
                }
            }
            #main-nav-bar-container {
                nav {
                    display: initial;
                }
            }
        }

        #menu-button {
            display: none;
            position: absolute;
            right: 0px;
            background: transparent;
            border: none;
            outline: none;
            padding: 0px;
            margin: 0px;
            height: 100%;
            width: auto;
            margin-right: $main-padding;
            svg {
                height: 100%;
                width: rem(34);
                fill: $theme-sec-color;
            }

            span {
                color: #fff;
                display: none;
                font-size: rem(30);
                height: 100%;
                line-height: $header-height;
            }
        }

        #main-logo-container {
            height: 100%;
            a {
                color: $theme-sec-color;
                font-size: rem(20);
                display: block;
                line-height: $header-height;
            }
        }
    
        #main-nav-bar-container {
            position: absolute;
            ul li {
                position: relative;
                display: inline-block;
                &.active {
                    a {
                        color: $theme-prim-color !important;
                    }
                    span {
                        top: 0px;
                    }
                }
                a {
                    font-size: rem(16);
                    color: $theme-sec-color;
                    position: relative;
                    display: block;
                    text-transform: capitalize;
                    padding: $main-padding;
                    z-index: 1;
                    @include transition(color 0.1s linear);
                }
                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    background: $theme-sec-color;
                    top: $header-height;
                    @include transition(top 0.1s linear);
    
                }
            }
        }

    }

}

@include mobile-vp {
    header {
        #menu-button {
            display: initial !important;
        }
        .header-container {
            &.mobile-menu-visible {
                background: $theme-sec-color;
            }
            #main-nav-bar-container {
                margin-left: 0px;
                left: 0px;
                top: 0px;
                z-index: 1;
                nav {
                    display: none;
                    ul li { 
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}